*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
node_modules/
.env
.env.local
.env.*.local
dist/
.next/
.server.js.part*.tmp
*.log
.DS_Store
.idea/
.vscode/
